/* :host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
} */

h3 {
  font-weight: 500;
}
mat-label {
  color: rgb(112, 111, 111);
}
mat-form-field {
  padding-right: 40px;
  padding-top: 2px;
}
mat-select,
mat-label {
  margin-top: 2px;
}
mat-card {
  margin-top: 2px;
  padding-right: 20px;
  padding-bottom: 5px;
  border-radius: 25px;
  border: 1px solid grey;
}
input,
mat-option {
  font-size: 18px;
  font-weight: 500;
}
input,
select {
  width: 100%;
}
.cancel {
  background-color: #727272;
  font-weight: 400;
  color: #ffff;
  margin-right: 10px;
  margin-top: 5px;
}
.apply {
  background-color: #1976d2;
  font-weight: 400;
  color: #ffff;
  margin-right: 2px;
}
.buttons {
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
  padding-right: 20px;
}
.checkbox {
  width: 30px;
}
.allfields {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
.toggleVal1 {
  margin-left: 200px;
}
.toggleVal1 > p {
  margin-top: -35px;
}
